<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='src/input.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Alumni | {% block title %} {% endblock title %} </title>
</head>
<body class="text-center font-bold">
    <nav>
        <img class="logo" src="../static/images/logo_to_use.png" alt="company logo here">
        <ul class="text-blue-800 my-57 text-center flex gap-10 cursor-pointer list-none">
            <li><a href="/">Home</a></li>
            <li><a href="/files">Learning</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/scholarships">scholarships</a></li>
             <a  href="/signup"><button class="get-started">Get Started</button></a> </button>
        </ul>
    </nav>
    {% block body %}
    {% endblock body %}

    <footer>
        <div>
            <ul>
                <li>Contact Us</li>
                <li>Careers</li>
                <li>About Us</li>
                <li>News</li>
                <li>Gallery</li>
            </ul>
        </div>

        <div>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Email</li>
            </ul>
        </div>
            
    </footer>
    <section class="copyright">
        Copyright 2024 Egerton University Computer Science Department
    </section>
</body>
</html>