{% extends 'base.html' %}
{% block title %} Contact Us {% endblock title %}

{% block body %}

<div class="contact-container">
    <section class="contact-content">
        <h1>Contact Us</h1>
        <div class="contact-form">
            <form action="{{ url_for('admin.submit_message') }}" method="POST">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>

{% endblock body %}