{% extends 'base.html' %} {% block title %} add_job {% endblock title %} {%
    block body %}
    <h1 style="text-align: center;">Welcome, this is the page for adding a job.</h1>


    <div class="addition-pages">
      <form action="" method="POST" enctype="multipart/form-data">
        <!-- This enctype thing is so essential for file uploads -->
          {{ form.hidden_tag() }}
        <div>{{ form.title.label }} {{ form.title }}</div>
        <div>{{ form.body.label }} {{ form.body }}</div>
        <div>{{ form.country.label }} {{ form.country }}</div>
        <div>{{ form.university.label }} {{ form.university }}</div>
        <div>{{ form.link.label }} {{ form.link }}</div>
        <div>{{ form.image.label }} {{ form.image }}</div>
        <div>{{ form.add_scholarship() }}</div>
      </form>
    </div>
    
    {% endblock body %}
    