{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %}
<div class="hero">
  <div class="homepage">
    <div class="hero-main">
      <span class="proud">We are Proud</span> <br />
      <span class="students"
        >Students of
        <span style="color: #12bb32">Egerton University</span></span
      >
      <br />
      <div class="quick-links">
        <p>
          Your gateway to connect with alumni, faculty and fellow students.
          Here, you'll find an opportunity for mentorship, career guidance,
          internships and network -all designed to help shape your academic and
          professional journey. <br />Start exploring today and take the next
          step towards your future.
        </p>
        <a href="/jobs"> 
        <button class="jobs-link">
          Jobs/Internships 
        </button>
      </a>
        &nbsp; &nbsp;
        <a href="/alumni">
        <button class="alumni-connect">
           Alumni Connect
        </button>
      </a>
      </div>
    </div>
    <img src="../static/images/homepage.jpg" alt="hero image here" />
  </div>
</div>

<div class="responsibility">
  <h1>Our Responsibility</h1>
  <div class="roles">
    <div class="card">
      <img src="../static/images/responsibility_01.avif" alt="" />
      <h3>Scholarship</h3>
      <p>
        Empowering students through scholarships to support academic excellence
        and reduce financial barriers. Discover numerous funding opportunities
        tailored for our vibrant community.
      </p>
    </div>
    <!-- mentorship -->
    <div class="card">
      <img src="../static/images/responsibility_02.webp" alt="" />
      <h3>Mentorship</h3>
      <p>
        Connect with experienced alumni and professionals ready to guide you
        through career development, personal growth, and academic success.
      </p>
    </div>
    <div class="card">
      <img src="../static/images/responsibility_03.avif" alt="" />
      <h3>Build Our Community</h3>
      <p>
        Create meaningful connections by engaging with peers, alumni, and
        partners to nurture a strong, inclusive community that thrives together.
      </p>
    </div>
    <div class="card">
      <img src="../static/images/responsibility_04.webp" alt="" />
      <h3>Supporting the Department</h3>
      <p>
        Join hands to strengthen our department by contributing ideas,
        resources, and expertise to foster innovation and excellence.
      </p>
    </div>
  </div>
</div>

<div class="mission">
  <h1>Our Mission</h1>
  <div class="mission-content">
    <img src="../static/images/comp lab.jpg" alt="mission image" />
    <p>
      Our mission is to establish a dynamic and inclusive platform that bridges
      the gap between students, alumni, and faculty within our community. We aim
      to inspire and empower through mentorship, create opportunities for growth
      and development, and provide access to resources such as scholarships, job
      placements, and learning materials. By fostering collaboration and
      engagement, we strive to build a supportive environment where knowledge is
      shared, careers are shaped, and the future of our community is
      strengthened. Together, we are committed to driving innovation, creating
      meaningful connections, and ensuring the success of every member of our
      network. <br />
      <a href=""><button>More About Us</button></a>
    </p>
  </div>
</div>

<div class="stats">
  <div class="members">
    <img src="../static/images/man.png" alt="" />
    <div>
      <h1>0</h1>
      <p>Members</p>
    </div>
  </div>

  <div class="members">
    <img src="../static/images/scholarship.png" alt="" />
    <div>
      <h1>0</h1>
      <p>scholarships</p>
    </div>
  </div>

  <div class="members">
    <img src="../static/images/event-list.png" alt="" />
    <div>
      <h1>0</h1>
      <p>Events</p>
    </div>
  </div>

  <div class="members">
    <img src="../static/images/award.png" alt="" />
    <div>
      <h1>0</h1>
      <p>Awards</p>
    </div>
  </div>
</div>


<div style="background-color: #ECF1F5; color: #212121;">
  <h1 style="text-align: center;" > Recent Jobs </h1>
<div class="jobs">
  {% for job in jobs[:3] %}
    <div class="recent-jobs">
      <img src="{{ job.image }}" alt="an image here" />
      <h1>{{ job.title }}</h1>
      <p>{{ job.body[:100] }}...</p>
      <section>
        <img src="../static/images/location.png" alt="" />{{ job.location }}
      </section>
      <!-- <p>{{ job.job_type }}</p> --> <br>
      <a href="https://{{job.link}}"> <button>Apply Now</button> </a>
    </div>
{% endfor %} 
</div>
<div class="view-all-jobs">
  <a href="/jobs"><button > View All Jobs </button></a>
</div>
</div>

<!-- events starts here -->
<div style="background-color: #161F37; color: #ffffff;">
  <h1 style="text-align: center;" > Upcoming Events </h1>
<div class="events">
  {% for event in events[:3] %}
    <div class="recent-events">
      <img src="{{event.image }}" alt="an image here" />
      <h1>{{event.title }}</h1>
      <p>{{event.body[:100] }}...</p>
      <section>
        <img src="../static/images/location.png" alt="" />{{event.location }}
      </section>
      <a href="https://{{event.link}}"> <button> Join Event </button> </a>
    </div>
{% endfor %} 
</div>
<div class="view-all-events">
  <a href="/events"><button > View All Events </button></a>
</div>
</div>

<div class="newsletter">
  <h1>
    Don’t Miss Awesome Stories From Our Alumni
  </h1>
  <p>Join Our Newsletter Today to keep on receiving the updates</p>
  <input type="email" name="email" placeholder="enter your email address here" id="">
  <br>
  <a href="/"><button>submit</button></a>
</div>


<div class="mini-gallery">
  <img src="../static/images/homepage.jpg" alt="">
  <!-- <img src="../static/images/upcoming_event.jpg" alt=""> -->
  <img src="../static/images/comp lab.jpg" alt="">
</div>
{% endblock %}
