{% extends 'base.html' %}

{% block title %} jobs {% endblock title %}

{% block body %}

<h1 style="text-align: center;">Here are the jobs that you can apply </h1>


<div class="jobs">
  {% if job %}
    {% for job in jobs %}
      <div class="recent-jobs">
        <img src="{{ job.image }}" alt="an image here" />
        <h1>{{ job.title }}</h1>
        <p>{{ job.body }}</p>
        <section>
          <img src="../static/images/location.png" alt="" />{{ job.location }}
        </section>
        <p>{{ job.job_type }}</p>
        <a href="https://{{job.link}}" target="_blank"> <button>Apply Now</button> </a>
      </div>
  {% endfor %} 
  {% else %}
  <h2>There's no job now, please check later</h2>
  {% endif %}
  </div>

{% endblock body %}