
{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container">
    <h1>Login</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.regno.label }}
            {{ form.regno }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <div>
            {{ form.log_in() }}
        </div>
    </form>
    <p>Forgot your Password?</p>
    <p>
        Create an Account? <a href="/signup">Signup</a>
    </p>
</div>
{% endblock %}
