

{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block body %}
<div class="container">
    <h1>Sign Up</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.regno.label }}
            {{ form.regno }}
        </div>
        <div>
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div>
            {{ form.year_of_study.label }}
            {{ form.year_of_study }}
        </div>
        <div>
            {{ form.email_address.label }}
            {{ form.email_address }}
        </div>
        <div>
            {{ form.password1.label }}
            {{ form.password1 }}
        </div>
        <div>
            {{ form.password2.label }}
            {{ form.password2 }}
        </div>
        <div>
            {{ form.sign_up() }}
        </div>
    </form>
    <p>
        Have an Account Already? <a href="/login">Login</a>
    </p>
</div>
{% endblock %}
